extends layout

block content
  h1= title
 - let results = [{SportsCar: 'Ferari',Sportsperson: 'Salman',sportsbike: 'Fazer'},{SportsCar: 'BMW',Sportsperson: 'Sharuk',sportsbike: 'Bullet'},{SportsCar: 'Audi',Sportsperson: 'Amir',sportsbike: 'Thuderstrome'}]
 